<main class="index">

<div class=jumbotron>
 <div class=container>
  <div class=fond>
   <img src="https://media.discordapp.net/attachments/887258359252783116/917879647759372398/MATES__MAKINGS_NOIR.png?width=400&height=113"/>
   <h1 class="text-jumb">Trouve des joueurs rapidement !</h1>
   <em> Un joueur qui rend une équipe bonne est plus précieux qu'un bon joueur.</em>
  </div>
 </div>
</div>


    <div class="card-home-container">
      <div class="card-home">
        <div class="card-body" style="padding: 30px;">
          <h1 class="card-title" style="margin-bottom: 30px;">
          <img src="https://img.icons8.com/nolan/64/halo-helmet.png"/>
          Votre réseau</h1>
          <div class="card-content">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          </div>
        </div>
      </div>
   
   

      <div class="card-home">
        <div class="card-body" style="padding: 30px;">
          <h1 class="card-title" style="margin-bottom: 30px;">
          <img src="https://img.icons8.com/nolan/64/crowd.png"/>
          Rejoins nous !</h1>
          <div class="card-content">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          </div>
        </div>
      </div>
   

    
      <div class="card-home">
        <div class="card-body" style="padding: 30px;">
          <h1 class="card-title" style="margin-bottom: 30px;">
          <img src="https://img.icons8.com/nolan/64/planner.png"/>
          Évenements</h1>
          <div class="card-content">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          </div>
        </div>
      </div>
    </div>
    </div>

      

