<br>
<br>
<br>
<br>
<br>

<p id="notice"><%= notice %></p>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="text-jumb">
    <img src="https://img.icons8.com/nolan/64/planner.png"/>
     Les Événements </h1>
     <br>
     <br>
    <p class="lead">Tu souhaite rejoindre, un tournoi, une partie privée, un événement en tout genre ?</p>
    <p> Tu es au bon endroit ! <img src="https://img.icons8.com/nolan/50/slime-rancher.png"/> </p>
    <%= link_to 'Créer un événement', new_event_path, class: "btn btn-primary" %>
  </div>
</div>



