
<div class="new-game-container">
      <div class="card-up edit-card" style="background-color: #f8f5f2;">
          <h1 class="card-title">
          <img src="https://img.icons8.com/nolan/64/visual-game-boy.png"/>
          Proposer un jeu</h1>
        
          <div class="card-body" style="padding: 20px;">
		            <div class="form-group">
                  <div class="field">                 
                    <p>Nous vous avons proposés les jeux les plus joué des derniers mois,
                       cependant si vous trouvez qu'un ou plusieurs jeux doit être ajouté,
                       il est possible de nous faire part de vos propositions.
                    </p>                 
                  </div>
                  <h3>
                    <ul>
                     <li>Quel jeu ?</li>
                     <li>Quel style ?</li>
                     <li>Envois ta demande à l'adresse: matesmakings@gmail.com</li>
                    </ul>
                  </h3>  
                </div>
                <div class="actions">
                 <%= link_to 'Retour', games_path, class: 'btn btn-outline-secondary' %>
                </div>  
          </div>  
      </div>
 </div>



