/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  height: 1000px;
}

.card-up {
  border-radius: 15px;
  justify-content: center;
  max-width: 500px;
  width: auto;
  margin: auto;
  text-align: center;
  margin-top: 200px;
}

.btn-primary {
  background-color: #078080 !important;
  border-color: #078080 !important;
  margin: 20px;
  width: 150px;
}

a {
  color: #078080 !important;
}

.field {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-header {
  padding: 2rem 1.25rem !important;
}
