/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.body {
  width: calc(100% - 250px);
  height: auto;
  margin-left: 300px;
  margin-top: 50px;
  flex: 1 0 auto;
  padding-top: 50px;
  min-height: calc(100vh - 50px);
}

header {
  width: 100vw;
  position: fixed;
  height: 50px;
  z-index: 999;
}

.img-plateform {
  padding: 20px;
}

.img-edit {
  margin-right: 10px;
  margin-left: 5px;
}

.nav-logo {
  width: 30%;
}

.navbar{
  padding-right: 25px;
}

.navbar-header {
  text-align: left;
  display: inline-block;
}

.navbar-brand {
  padding: 8px 15px;
}

.navbar-brand > img {
  display: inline-block;
}

span.glyphicon{
  display: inline-block;
}

input[type="text"] {
  border: none;
  border-bottom: 1px solid #e3e3e3;
  border-radius: 10px;
  padding-left: 10px;
}

.card-up {
  border-radius: 15px;
  justify-content: center;
  max-width: 500px;
  width: 60vw;
  margin: auto;
  text-align: center;
  -webkit-box-shadow: 5px 5px 15px 16px rgba(0, 0, 0, 0.26);
  box-shadow: 5px 5px 15px 16px rgba(0, 0, 0, 0.26);
  margin-bottom: 50px;
}

h1.card-title {
  color: #078080 !important;

  padding: 30px;
}

.jumbotron {
  background-color: white;
  max-width: 70vw;
  margin: 0 auto 50px;
  border-radius: 15px;
  position: relative;
  z-index: 2;
}

.text-jumb {
  padding: 10px;
  color: black!important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card-up.edit-card,
.card-home,
.card-plateform,
.card-availablity,
.card-description,
.card-star {
  max-width: 60vw;
  margin: 0 auto 50px;
}

.btn-primary {
  background-color: #078080 !important;
  border-color: #078080 !important;
  margin: 20px;
  width: 150px;
  color: #ffffff !important;
}

.btn-secondary {
  background-color: white !important;
  border-color: white !important;
  margin: 20px;
  width: 150px;
  color: #8f5960 !important;
}

.btn-danger {
  margin-top: 20px;
  margin-bottom: 20px;
}

i {
  margin-bottom: 20px;
}

a {
  color: #8f5960;
}

.sidebar a:hover {
  padding-left: 35px;
}


.card-header {
  padding: 1rem 1.25rem !important;
  background-color: #078080 !important;
  border-top-left-radius: 13px !important;
  border-top-right-radius: 13px !important;
  color: white;
  -webkit-box-shadow: 5px 9px 20px 4px rgba(0, 0, 0, 0.33);
  box-shadow: 5px 9px 20px 4px rgba(0, 0, 0, 0.33);
}

.nav>li>a{
  display: inline-block!important;
  padding: 15px 5px!important;
}
.navbar {
  min-height: auto;
  height: 50px;
  background-color: #ffffff;
  position: relative;
  z-index: 9999;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border: none;
}

.navbar-nav > li {
  height: 50px;
}

.navbar-nav > li a {
  margin: 0 10px;
}

.navbar .menu-burger {
  display: none;
  width: 25px;
}
.navbar .menu-burger i {
  font-size: 22px;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500");

body {
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  position: relative;
}

/* Toggle Styles */

#viewport {
  padding-left: 217px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#content {
  width: 100%;
  position: relative;
  margin-right: 120px;
}
/*responsive sidebar*/
/* On screens that are less than 700px wide, make the sidebar into a topbar */

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */

/* Sidebar Styles */

.sidebar {
  position: fixed;
  left: 0px;
  width: 300px;
  height: 100%;
  top: 4%;
  background: #00332c;
  transition: all 0.5s ease;
  overflow: hidden;
  top: 50px;
}

.sidebar-header {
  font-size: 22px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #078080;
  user-select: none;
}

.sidebar ul {
  overflow: hidden;
}

.sidebar ul li a {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white !important;
  padding-right: 70px !important;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-decoration: none;
}

.sidebar ul li:hover a {
  padding-left: 15px !important;
}

.sidebar ul ul {
  position: static;
  display: none;
}

.sidebar ul .event-show.show,
.sidebar ul .jeux-show.show {
  display: block;
}

.sidebar ul ul li {
  line-height: 42px;
  border-bottom: none;
}

.sidebar ul ul li a {
  font-size: 12px;
}

.sidebar ul a i {
  margin-right: 16px;
}

.sidebar ul ul li a span {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 22px;
  transition: transform 0.4s;
}

.sidebar ul ul li a:hover span {
  transform: translateY(-50%) rotate(-180deg);
}

label #btn,
label #cancel {
  position: absolute;
  background: white;
  border-radius: 3px;
  cursor: pointer !important;
  font-size: 15px;
  color: black;
}

label #btn {
  left: 200px;
  top: 90px;
  padding: 6px 12px;
  transition: all 0.5s ease-in-out;
}

label #cancel {
  z-index: 1111;
  left: 205px;
  top: 80px;
  padding: 4px 10px;
  transition: all 0.5s ease-in-out;
}



.row-footer {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}



footer {
  background-color: #24262b;
  width: 100%;
  margin-top: 30px;
  clear: both;
  position: relative;
  z-index: 999;
  
}

.footer-col {
  width: 25%;
  padding: 8px 15px;
  margin: 20px 0;
}

h4 {
  font-size: 20px;
  color: #078080;
  margin-bottom: 35px;
  position: relative;
}


.footer-col ul{
  padding-left: 0;
}

.row-footer .footer-col:first-child{
  border-right: 1px solid #D2D2D2;
}
.row-footer .footer-col:last-child{
  border-left: 1px solid #D2D2D2;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  
  display: block;
}







/* --------- VALI --------- */
/* Par défaut, une étoile est en gris,
   avec un padding et un curseur en forme de main. */
.fa-star {
  color: gray;
  cursor: pointer;
  padding: 0.0625rem;
}
/* Si elle porte en plus la classe '.gold', elle sera en jaune. */
.fa-star.gold {
  color: #ffdc0f;
}

/* Le parent global '.rating' positionne le groupe des étoiles et le lien en colonne */
.rating {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Le groupe '.stars' positionne les étoiles
       les unes à côté des autres sans espacements. */
.stars {
  display: inline-flex;
  justify-content: center;
  font-size: 3em;
}

/* --------- VALI --------- */
/* Par défaut, une étoile est en gris,
   avec un padding et un curseur en forme de main. */
.fa-star {
  color: gray;
  cursor: pointer;
  padding: 0.0625rem;
}
/* Si elle porte en plus la classe '.gold', elle sera en jaune. */
.fa-star.gold {
  color: #ffdc0f;
}

/* Le parent global '.rating' positionne le groupe des étoiles et le lien en colonne */
.rating {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Le groupe '.stars' positionne les étoiles
       les unes à côté des autres sans espacements. */
.stars {
  display: inline-flex;
  justify-content: center;
  font-size: 3em;
}

/**
     * Et là opère la magie du ':hover' !
     */

/* A l'état :hover sur le parent '.rating',
       on force TOUTES les étoiles à passer en jaune. */
.stars:hover .fa-star {
  color: #ffdc0f;
}
/* Et si la souris survole une étoile en particulier,
       on sélectionne toutes les étoiles qui sont APRÈS celle-ci
       grâce à l'opérateur '~' et on les force en GRIS */
.stars .fa-star:hover ~ .fa-star {
  color: gray;
}

/******************************************************************/
/* style pour la démo */
html {
  text-align: center;
  font-family: "Droid Sans", sans-serif;
  font-size: 1.4rem;
  overflow-x: hidden;
}
a {
  color: crimson;
  font-weight: 600;
  transition: all 0.8s cubic-bezier(0.14, 1.36, 0.5, 0.88);
  display: inline-block;
}
a:hover {
  transform: scale(1.1);
}
/******************************************************************/

.profile a:hover{
  color: #000000!important;
}
.navbar-header a:hover{
  transform: scale(1);
}
.container {
  width: 1000px;
  text-align: center;
}

.card-description {
  border-radius: 15px;
  justify-content: center;
  background-color: white;
  -webkit-box-shadow: 5px 5px 15px 16px rgba(0, 0, 0, 0.26);
  box-shadow: 5px 5px 15px 16px rgba(0, 0, 0, 0.26);
  padding-bottom: 20px;
  color: black;
}

.card-home-container{
  overflow: auto;
  max-width: 1400px;
  margin: 0 auto;
  min-height: 1000px;
}

.index::before{
  content: '';
  width: 1px;
  height: 100%;
  border: 1px solid #FFFFFF;
  display: block;
  position: absolute;
  left: calc(50% + 150px);
  transform: translateX(-50%);
}

.card-home {
  border-radius: 15px;
  justify-content: center;
  background-color: #FFFFFF;
  -webkit-box-shadow: 5px 5px 15px 16px rgba(0, 0, 0, 0.26);
  box-shadow: 5px 5px 15px 16px rgba(0, 0, 0, 0.26);
  padding: 50px 0 10px;
  color: #000000;
  position: relative;
  z-index: 2;
  margin-bottom: 100px;
}

.card-home-container .card-home:first-child{
  margin-top: 50px;
}

.card-home .card-title{
  text-align: center;
  padding: 0;
  position: absolute;
  top: -50px;
  height: 68px;
  left: 25px;
  background-color: white;
  border-radius: 15px;
  width: 30%;
  min-width: 275px;
  
  font-size: 24px;
}

main .card-home:nth-child(2n + 1) {
  float: left;
  clear: both;
  width: 55%;
  margin-left: 150px;
}
main .card-home:nth-child(2n + 1) .card-title{
  left: auto;
  right: 25px;
}
main .card-home:nth-child(2n + 0) {
  float: right;
  clear: both;
  width: 55%;
  margin-right: 150px;
}

.card-home .card-title img{
  margin-left: -25px;
  vertical-align: middle;
}
.card-home .card-title{
  color: #078080!important;
}
.card-home .card-content{
  text-align: justify;
}

.card-plateform {
  border-radius: 15px;
  justify-content: center;
  background-color: #f8f5f2;
  -webkit-box-shadow: 5px 5px 15px 16px rgba(0, 0, 0, 0.26);
  box-shadow: 5px 5px 15px 16px rgba(0, 0, 0, 0.26);
  padding-bottom: 20px;
  color: #8f5960;
}

.card-plateform .card-item {
  text-align: center;
  height: 45px;
  width: calc(33% - 2%);
  display: inline-block;
  margin: 0 2% 25px 0;
}

.card-plateform .card-item p {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.card-plateform .card-item:nth-child(3n + 3) {
  margin-right: 0;
}

.card-plateform .card-item:nth-child(3n + 1) {
  margin-left: 2%;
}

.card-plateform .card-item img {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 0;
  top: 3px;
}

.card-plateform .card-item input {
  width: 100%;
  padding: 7px 5px 7px 55px;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: all 0.1s ease-in-out;
  font-size: 22px;
}

.card-plateform .card-item input:focus {
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.55);
  outline: none;
}

.field {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  padding: 7px 5px 7px 55px;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: all 0.1s ease-in-out;
  font-size: 22px;
}

.field input:focus {
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.55);
  outline: none;
}

.card-star {
  border-radius: 15px;
  justify-content: center;
  background-color: #f8f5f2;
  -webkit-box-shadow: 5px 5px 15px 16px rgba(0, 0, 0, 0.26);
  box-shadow: 5px 5px 15px 16px rgba(0, 0, 0, 0.26);
  padding: 20px;
  color: #078080;
  margin-bottom: 20px;
}

.text-tag {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px;
  border-style: solid;
  border-color: #e7e7e7;
  background-color: #d3d3d362;
  width: 200px;
  border-radius: 10px;
  margin: auto;
  color: #8f5960;
  min-height: 50px;
  vertical-align: middle;
}

textarea {
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.55);
  margin: 0px;
  width: 707px;
  height: 104px;
  margin-bottom: -15px;
  outline: none;
  margin-top: 10px;
}

select {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
}
@media screen and (max-width: 768px) {
  .body {
    width: 100%;
    margin: 50px 0 0;
  }
  header{
    padding-right: 0;
  }
  .navbar {
    padding-top: 10px !important;
  }
  .navbar,
  .navbar .container-fluid {
    text-align: left;
    height: 50px;
    padding: 0;
  }
  .navbar-header {
    margin: 0 !important;
  }
  .navbar-brand {
    width: 100px;
    float: left;
    padding: 0;
  }
  .navbar-brand:hover {
    transform: scale(1)!important;
  }
  .navbar-right {
    height: 50px;
    display: inline-block;
    margin: 0;
    width: calc(100% - 170px);
    float: right;
  }
  .navbar-right .btn-danger {
    margin: 0 !important;
  }
  .navbar-right > li {
    display: inline-block;
    vertical-align: text-bottom;
  }
  .profile {
    padding: 6px 0 0 !important;
  }
  .navbar-right a.btn-outline-secondary {
    padding: 0 !important;
  }
  .navbar-brand img {
    width: 100%;
  }
  .sidebar {
    left: -300px;
  }
  .navbar .menu-burger {
    display: block;
    float: left;
    top: 0;
    width: 25px;
    height: 50px;
    margin-right: 10px;
    margin-left: 15px;
  }

  .card-home,
  .card-up.edit-card,
  .card-plateform,
  .card-availablity,
  .card-description,
  .card-star
  .card-edit-event {
    max-width: 95%;
    width: 95%;
    margin: 0 auto;
  }

  .card-edit-event{
   border-radius: 15px;
   justify-content: center;
   max-width: 500px;
   width: 60vw;
   margin: auto;
   text-align: center;
   -webkit-box-shadow: 5px 5px 15px 16px rgba(0, 0, 0, 0.26);
   box-shadow: 5px 5px 15px 16px rgba(0, 0, 0, 0.26);
   margin-bottom: 50px;
  }


  
  .container {
    width: 100%;
  }

  .card-plateform .card-item {
    width: 100%;
  }
}
