/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin-top: 50px;
  height: 1000px;
}

.card-up {
  border-radius: 15px;
  justify-content: center;
  max-width: 500px;
  width: auto;
  margin: auto;
  text-align: center;
  margin-top: 200px;
}

.btn-primary {
  background-color: #078080 !important;
  border-color: #078080 !important;
  margin: 20px;
  width: 150px;
}

a {
  color: #8f5960 !important;
}

a:hover {
  background-color: transparent;
}

.field {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-header {
  padding: 2rem 1.25rem !important;
  background-color: #078080 !important;
  border-top-left-radius: 13px !important;
  border-top-right-radius: 13px !important;
  color: white;
}

.navbar {
  background-color: #ffffff;
  width: absolute;
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  
}

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500");

body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

/* Toggle Styles */

#viewport {
  padding-left: 217px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#content {
  width: 100%;
  position: relative;
  margin-right: 120px;
}
/*responsive sidebar*/
/* On screens that are less than 700px wide, make the sidebar into a topbar */

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */

/* Sidebar Styles */

#sidebar {
  z-index: 1000;
  position: fixed;
  left: 250px;
  top: 52px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #078080;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 5px;
}

#sidebar header {
  background-color: #263238;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
}

#sidebar header a {
  color: #fff;
  display: block;
  text-decoration: none;
}

#sidebar header a:hover {
  color: #fff;
}

#sidebar .nav a {
  background: none;
  border-bottom: 1px solid #455a64;
  color: #cfd8dc;
  font-size: 14px;
  padding: 20px 24px;
}

#sidebar .nav a:hover {
  background: none;
  color: #eceff1;
}

#sidebar .nav a i {
  margin-right: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: #24262b;
  padding: 160px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 50px;
  height: 50px;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  color: #bbbbbb;
  display: block;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .sidebar header {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar .nav {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}


/* --------- VALI --------- */
/* Par défaut, une étoile est en gris,
   avec un padding et un curseur en forme de main. */
   .fa-star {
    color: gray;
    cursor: pointer;
    padding: 0.0625rem;
  }
  /* Si elle porte en plus la classe '.gold', elle sera en jaune. */
  .fa-star.gold {
    color: #ffdc0f;
  }
  
  /* Le parent global '.rating' positionne le groupe des étoiles et le lien en colonne */
  .rating {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
    /* Le groupe '.stars' positionne les étoiles
       les unes à côté des autres sans espacements. */
    .stars {
      display: inline-flex;
      justify-content: center;
      font-size: 3em;
    }
  
    /**
     * Et là opère la magie du ':hover' !
     */
  
    /* A l'état :hover sur le parent '.rating',
       on force TOUTES les étoiles à passer en jaune. */
    .stars:hover .fa-star {
      color: #ffdc0f;
    }
    /* Et si la souris survole une étoile en particulier,
       on sélectionne toutes les étoiles qui sont APRÈS celle-ci
       grâce à l'opérateur '~' et on les force en GRIS */
    .stars .fa-star:hover ~ .fa-star {
      color: gray;
    }
  
  /******************************************************************/
  /* style pour la démo */
  html { margin-top: 2em; text-align: center; font-family: 'Droid Sans', sans-serif; font-size: 1.4rem; }
  a { color: crimson; font-weight: 600; transition: all 0.8s cubic-bezier(.14,1.36,.5,.88); display: inline-block; }
  a:hover { transform: scale(1.3) }
  /******************************************************************/

.container {
  width: 1000px;
  text-align: center;
}

.card-description{
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 1000px; 
  margin: auto; 
  background-color: white; 
  -webkit-box-shadow: 5px 5px 15px 16px rgba(0, 0, 0, 0.26);
  box-shadow: 5px 5px 15px 16px rgba(0, 0, 0, 0.26);
  

}

.card-plateform {
  border-radius: 15px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 1000px; 
  margin: auto;
  background-color: white; 
  -webkit-box-shadow: 5px 5px 15px 16px rgba(0, 0, 0, 0.26);
  box-shadow: 5px 5px 15px 16px rgba(0, 0, 0, 0.26);
  

}

.card-star {
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 1000px; 
  margin: auto;
  background-color: white; 
  -webkit-box-shadow: 5px 5px 15px 16px rgba(0, 0, 0, 0.26);
  box-shadow: 5px 5px 15px 16px rgba(0, 0, 0, 0.26);

}

