

<br>
<% if review.rating == 1 %>
<i class="fa fa-star gold"></i>

<% elsif review.rating == 2 %>
<i class="fa fa-star gold"></i>
<i class="fa fa-star gold"></i>


<% elsif review.rating == 3 %>
<i class="fa fa-star gold"></i>
<i class="fa fa-star gold"></i>
<i class="fa fa-star gold"></i>


<% elsif review.rating == 4 %>
<i class="fa fa-star gold"></i>
<i class="fa fa-star gold"></i>
<i class="fa fa-star gold"></i>
<i class="fa fa-star gold"></i>

<% elsif review.rating == 5 %>
<i class="fa fa-star gold"></i>
<i class="fa fa-star gold"></i>
<i class="fa fa-star gold"></i>
<i class="fa fa-star gold"></i>
<i class="fa fa-star gold"></i>


<% end %>

<div class="review-rating" data-score="<%= review.rating %>"></div>
	
	<p class="review-comment"><%= review.comment %></p>


	<% if current_user %>
		<% if review.user_id == current_user.id %>

			<div class="links btn-group">

				<%= link_to "Edit", edit_user_review_review_path(review.user_review, review), class: "btn btn-custom" %>
				<%= link_to "Delete", user_review_review_path(review.user, review), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-custom" %>

			</div>
		
		<% end %>	
	<% end %>
		
