

<br>
<% if review.rating == 1 %>
<img src="https://img.icons8.com/fluency/48/000000/star.png"/>
<% elsif review.rating == 2 %>
<img src="https://img.icons8.com/fluency/48/000000/star.png"/>
<img src="https://img.icons8.com/fluency/48/000000/star.png"/>


<% elsif review.rating == 3 %>
<img src="https://img.icons8.com/fluency/48/000000/star.png"/>
<img src="https://img.icons8.com/fluency/48/000000/star.png"/>
<img src="https://img.icons8.com/fluency/48/000000/star.png"/>


<% elsif review.rating == 4 %>
<img src="https://img.icons8.com/fluency/48/000000/star.png"/>
<img src="https://img.icons8.com/fluency/48/000000/star.png"/>
<img src="https://img.icons8.com/fluency/48/000000/star.png"/>
<img src="https://img.icons8.com/fluency/48/000000/star.png"/>

<% elsif review.rating == 5 %>
<img src="https://img.icons8.com/fluency/48/000000/star.png"/>
<img src="https://img.icons8.com/fluency/48/000000/star.png"/>
<img src="https://img.icons8.com/fluency/48/000000/star.png"/>
<img src="https://img.icons8.com/fluency/48/000000/star.png"/>
<img src="https://img.icons8.com/fluency/48/000000/star.png"/>


<% end %>

<div class="review-rating" data-score="<%= review.rating %>"></div>
	
	<p class="review-comment"><%= review.comment %></p>


	<% if current_user %>
		<% if review.user_id == current_user.id %>

			<div class="links btn-group">

				<%= link_to "Edit", edit_user_review_review_path(review.user_review, review), class: "btn btn-custom" %>
				<%= link_to "Delete", user_review_review_path(review.user, review), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-custom" %>

			</div>
		
		<% end %>	
	<% end %>
		
