

	<div class="edit-review-form">

		<h1>Edit Review</h1>

		<%= simple_form_for([@user_review, @review]) do |f| %>
			<div id="rating-form">
				<label>Rating</label>
			</div>
			<%= f.input :comment %>
			<%= f.button :submit, :class => "btn-custom2" %>
		<% end %>	

	</div>


</div>

